@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

body {
	cursor: url('/cursors/cursor.svg'), auto;
}

button,
a {
	cursor: url('/cursors/hand-cursor.svg'), pointer;
}

input,
textarea {
	cursor: text;
}
